input + span, select + span, textarea + span {
  display: none;
}

input.ng-invalid.ng-touched + span,
select.ng-invalid.ng-touched + span,
textarea.ng-invalid.ng-touched + span {
  display: initial;
}