<form [formGroup]="personForm">

  <ul *ngIf="hasErrors">
    <li *ngFor="let errorMessage of errorMessages">{{errorMessage}}</li>
  </ul>

  <div>
    <label>Email</label>
    <input type="text" formControlName="email">
  </div>

  <div>
      <label>Phone</label>
      <input type="text" formControlName="phone">
    </div>
  
</form>
